#contact {
  padding: 100px 100px 0;
  display: flex;
  flex-wrap: wrap;
}
#contact .champs-obligatoires {
  text-align: end;
}
#contact .champs-obligatoires > span {
  color: red;
}
#contact > div {
  min-width: 500px;
  width: 50%;
  padding: 0 25px;
}
.container-map {
  height: 600px;
  width: calc(50vw - 150px);
}

#contact-formulaire > div > div {
  margin: 15px 0;
}

#contact-formulaire input,
#contact-formulaire div.p-dropdown,
#contact-formulaire textarea {
  margin-top: 5px;
  border: 1px solid #ced4da;
}
#contact-formulaire label > span {
  color: red;
}

@media only screen and (max-width: 959px) {
  #contact {
    padding: 75px 0px 0;
  }
  #contact-formulaire {
    width: 100%;
  }
  #contact-formulaire h4 {
    text-align: center;
  }
  .container-map {
    margin-top: 25px;
    height: 350px;
    width: calc(100vw - 50px);
  }
}

@media only screen and (max-width: 480px) {
  #contact {
    padding: 50px 0 0;
  }
  #contact-formulaire {
    width: 100%;
  }
  #contact-formulaire h4 {
    text-align: center;
  }
  .container-map {
    margin-top: 25px;
    height: 350px;
    width: calc(100vw - 50px);
  }
}
