.block-contact-header {
  margin: 5%;
  padding: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.block-contact-title {
  margin-bottom: 10%;
}

.form-input-size {
  margin-top: 5%;
  margin-bottom: 10%;
}

.form-input-size::placeholder,
.form-texterea-size::placeholder {
  color: #ca0032;
}

input::focus,
texterea::focus,
input:focus,
texterea:focus,
input:active,
texterea:active,
input:hover,
texterea:hover,
input::active,
texterea::active,
texterea::hover,
input::hover {
  outline: none !important;
  border: 1px solid #ca0032 !important;
  box-shadow: 0 0 10px #ca0032 !important;
  color: #ca0032;
}

.btn-valider-form {
  background-color: #ca0032;
  border-color: #ca0032;
  color: white;
  transition-duration: 0ms;
}

.block-contact-title {
  font-size: 3rem;
}

.container-map {
  height: 600px;
}

.size-school {
  font-size: 2rem;
  color: #ca0032;
}

.title-pop-up {
  font-size: 1.5rem;
}

.span-pop-up {
  font-size: 1rem;
}

.btn-valider-form:hover {
  color: #ca0032;
  border-color: #ca0032;
  background-color: white;
}

.grid {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .container-map {
    height: 300px;
  }
}
