:root {
  --white: #eee;
  --size-font: 1.5rem;
  --size-icon: 1.3rem;
  --size-padding: 2rem;
}

.icons-nav-style > ul > li > a > span {
  font-size: var(--size-icon);
}

.icons-nav-style {
  background-color: var(--white);
  border: none;
  position: fixed;
  height: 10vh;
  width: 100%;
  z-index: 999999;
  border-radius: 0;
}
.nav-infos {
  display: flex;
  align-items: center;
  top: 10vh;
  background-color: #333;
  color: white;
  border: none;
  position: fixed;
  padding: 20px 0;
  width: 100%;
  z-index: 999999;
  justify-content: space-around;
  flex-wrap: wrap;
}
.nav-infos > div > i {
  margin-right: 10px;
  color: #ca0032;
}

.nav-infos .reseaux-sociaux {
  display: flex;
}
.nav-infos .reseaux-sociaux > div {
  margin-right: 20px;
}
.nav-infos .reseaux-sociaux > div span {
  border-radius: 5px;
  transition-duration: 500ms;
}
.nav-infos .reseaux-sociaux > div span:hover {
  transform: scale(1.1);
}

.icons-nav-style > a > i {
  font-size: var(--size-font);
}

.icons-nav-style > a {
  margin-left: auto;
  padding: var(--size-padding);
}

.contact-nav {
  font-size: larger;
  background: #ca0032;
  border-radius: 1px;
  border: 1px solid #ca0032;
  color: #ca0032 !important;
  padding: 15px 25px;
}
.contact-nav:hover {
  font-size: larger;
  background: #af012c;
  border-color: #af012c;
}

.contact-nav > span {
  color: #fff;
}
.contact-nav > span:first-child {
  margin-right: 5px;
}

/* TABLETS */
@media only screen and (max-width: 959px) {
  .nav-infos {
    display: none;
  }
}

/* PHONES */
@media only screen and (max-width: 480px) {
  .nav-infos {
    display: none;
  }
  .contact-nav {
    position: fixed;
    bottom: 1.5vh;
    right: 1vh;
    border-radius: 50px;
    padding: 16px 15px 15px 15px;
    border: solid 0px white;
    background-color: #af012c;
  }
  .contact-nav > span:first-child {
    margin-right: 0;
    font-size: larger;
  }
  .contact-nav > span:last-child {
    display: none;
  }
}
