:root {
    --white: #fff;
    --size-font: 1.5rem;
    --size-icon: 1.3rem;
    --size-padding: 2rem;
    --color-black: #222;
}

.icons-nav-style>ul>li>a>span {
    font-size: var(--size-icon);
}

.icons-nav-style {
    background-color: var(--white);
    border: 0px solid;
}

.icons-nav-style>a>i {
    font-size: var(--size-font);
}

.icons-nav-style>a {
    margin-left: auto;
    padding: var(--size-padding);
}

.block-nav-header {
    height: 6vh;
    color: aliceblue;
    background-color: var(--color-black);
}