.title-rncp {
  text-transform: capitalize;
  font: "Amatic SC", sans-serif;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  color: #333;
  margin-bottom: 3%;
  text-align: center;
}
.card-rncp-menage {
  width: 100% !important;
  padding: 0 100px;
  margin: 0 !important;
}
.sous-texte-formations {
  padding: 0 300px;
}
.sous-texte-formations > p {
  text-align: justify;
}

.grid-rncp {
  width: 100%;
  display: flex;
}
.grid-rncp > div {
  width: 50%;
  min-width: 400px;
}

.card-rncp {
  height: 100%;
  margin: 5%;
  padding: 0 10px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: 500ms;
}
.card-rncp .p-card-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-rncp a {
  color: #ca0032;
  font-weight: bold;
}
.card-rncp a:hover {
  text-decoration: underline;
}

.card-rncp:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.section-rncp {
  font-size: 1.8rem;
}

.p-title1 {
  font-size: 1.5rem;
}

.p-text1 {
  font-size: 1rem;
}

.voir {
  animation: voir 3s;
}

.card-rncp-menage {
  margin: 5%;
}

@keyframes voir {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-color,
.btn-color:active,
.btn-color:focus,
.btn-color:hover {
  background-color: #ca0032 !important;
  border: none !important;
  outline: #ca0032;
  box-shadow: #ca0032 inset;
}

.title-emplois {
  text-transform: capitalize;
  font: bold 4rem "Amatic SC", sans-serif;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  color: #333;
  margin-bottom: 3%;
  text-align: left;
}

.number-rncp {
  text-transform: capitalize;
  font: bold 6rem "Amatic SC", sans-serif;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  color: #333;
  margin-bottom: 3%;
  text-align: left;
}

.p-emplois {
  text-transform: capitalize;
  font: bold 1.25rem "Amatic SC", sans-serif;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.3);
  color: #333;
  margin-bottom: 3%;
  text-align: left;
}

/* TABLETS */
@media only screen and (max-width: 959px) {
  .sous-texte-formations {
    padding: 0 25px;
  }
  .p-emplois {
    text-align: left;
    font-size: 16px;
  }
  .grid-rncp {
    margin: 0;
  }
  .grid-rncp > div {
    width: 100%;
    margin: 15px 0;
  }

  .sous-texte-formations {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 480px) {
  .number-rncp {
    font: bold 4rem "Amatic SC", sans-serif;
  }

  .title-emplois {
    text-align: center;
    font: bold 1.5rem "Amatic SC", sans-serif;
  }
  .p-emplois {
    text-align: center;
    font-size: 14px;
  }

  .grid-rncp {
    margin: 0;
  }
  .grid-rncp > div {
    width: 100%;
    margin: 15px 0;
  }

  .sous-texte-formations {
    padding: 0 25px;
  }
}
