#titre-pro-reconnu-rncp {
  padding: 75px 0 0 0;
}

#titre-pro-reconnu-rncp > .bloc-texte {
  position: relative;
  bottom: 0;
  background-color: #ca0032;
  margin: 100px 0 0 0;
  width: 100%;
  padding: 75px 300px;
  color: white;
}
#titre-pro-reconnu-rncp > .bloc-texte > p {
  max-width: 100%;
  text-align: start;
  width: 100%;
}

#titre-pro-reconnu-rncp i {
  font-size: 50px;
  color: #ca0032;
}

#titre-pro-reconnu-rncp > .bloc-icons {
  padding: 50px 300px;
  text-align: center;
  display: flex;
}
#titre-pro-reconnu-rncp > .bloc-icons > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 200px;
  padding: 15px;
  margin: 0 15px;
  border-radius: 5px;
  transition-duration: 750ms;
  line-height: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#titre-pro-reconnu-rncp > .bloc-icons > div:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
#titre-pro-reconnu-rncp > .bloc-icons > div:first-child {
  margin: 0 15px 0 0;
}
#titre-pro-reconnu-rncp > .bloc-icons > div:last-child {
  margin: 0 0 0 15px;
}
#titre-pro-reconnu-rncp > .bloc-icons > div > div {
  margin: 25px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

/* ################################################################################### */
#soyez-100-finance {
  padding: 75px 0;
}
#soyez-100-finance p {
  text-align: start;
}
#soyez-100-finance > div {
  margin: 0;
  padding: 0px 300px;
}
#soyez-100-finance > div {
  display: flex;
  align-items: center;
}
#soyez-100-finance > div > div {
  width: 50%;
}
#soyez-100-finance > div > div > button {
  background-color: #ca0032;
  border-color: #ca0032;
  color: white;
  transition-duration: 0ms;
}
#soyez-100-finance > div > div > button:hover {
  color: #ca0032;
  border-color: #ca0032;
  background-color: white;
}

#soyez-100-finance > div > div > .carousel {
  text-align: -webkit-right;
}
#soyez-100-finance > div > div > .carousel > div {
  width: 66% !important;
}
/* ########################################################## */
#nos-formations-personnalisables {
  position: relative;
  padding: 75px 300px;
  background: none;
}
#nos-formations-personnalisables > div > img {
  filter: blur(2px);
}
#nos-formations-personnalisables h2 {
  color: white;
  text-shadow: -2px 2px 3px black;
  filter: blur(0px);
}
#nos-formations-personnalisables > .bloc-cards {
  display: flex;
  justify-content: space-between;
  z-index: 999;
}
#nos-formations-personnalisables > .bloc-cards > div {
  width: 45%;
  height: 300px;
  overflow: auto;
  opacity: 0.8;
  transition-duration: 750ms;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#nos-formations-personnalisables > .bloc-cards > div .p-card-title {
  text-align: center;
  color: black;
}
#nos-formations-personnalisables > .bloc-cards > div:hover {
  box-shadow: rgba(211, 0, 52, 0.4) -5px 5px, rgba(211, 0, 52, 0.3) -10px 10px, rgba(211, 0, 52, 0.2) -15px 15px, rgba(211, 0, 52, 0.1) -20px 20px,
    rgba(211, 0, 52, 0.05) -25px 25px;
}

#nos-formations-personnalisables > .bloc-cards > div p {
  line-height: 1.5em;
  color: black;
  text-align: start;
}
/* ################################################################################### */
#personnalisez-vos-modules {
  padding: 75px 200px;
}

#personnalisez-vos-modules > .bloc-texte {
  margin: 0 0 50px 0;
}
#personnalisez-vos-modules > .bloc-texte > p {
  max-width: 80%;
  margin: 20px auto;
}

#personnalisez-vos-modules > .bloc-cards {
  display: flex;
  justify-content: space-between;
}

#personnalisez-vos-modules > .bloc-cards > div {
  width: 30%;
  /* height: 500px; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition-duration: 750ms;
}
#personnalisez-vos-modules > .bloc-cards > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#personnalisez-vos-modules > .bloc-cards > div .module {
  margin: 20px 0;
  line-height: 1.5em;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
#personnalisez-vos-modules > .bloc-cards > div .module:first-child {
  margin: 0 0 20px 0;
}
#personnalisez-vos-modules > .bloc-cards > div .module:last-child {
  margin: 20px 0 0 0;
}
#personnalisez-vos-modules > .bloc-cards > div .module > i {
  color: #27ae60;
  font-weight: bold;
  margin-right: 5px;
}

#personnalisez-vos-modules > .bloc-cards > div .p-card-footer > .card-footer-title {
  color: #495057;
  font-weight: bold;
}
#personnalisez-vos-modules > .bloc-cards > div .p-card-footer > .module-transversaux {
  margin: 15px 0;
}

#personnalisez-vos-modules > .bloc-cards > div .p-card-footer > .module-transversaux:last-child {
  margin: 15px 0 0 0;
}
/* #################################################################################### */
#une-equipe-qualifiee {
  padding: 0;
}
#une-equipe-qualifiee > div {
  display: flex;
  width: 100%;
}
#une-equipe-qualifiee > div > .bloc-image {
  position: relative;
  width: 50%;
}
#une-equipe-qualifiee > div > .bloc-image img {
  transition-duration: 750ms;
}
#une-equipe-qualifiee > div > .bloc-image img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}

#une-equipe-qualifiee > div > .bloc-texte {
  background-color: #ca0032;
  width: 50%;
  padding: 75px;
  color: white;
}
#une-equipe-qualifiee > div > .bloc-texte > p {
  text-align: start;
  padding-left: 0;
}
