#formation-majordomat {
  padding: 100px 0 0;
}
#formation-majordomat h2 {
  color: #333;
}

#formation-majordomat > .bloc-texte {
  padding: 50px 300px;
}
#formation-majordomat > .bloc-texte > p {
  max-width: 100%;
  text-align: start;
  width: 100%;
}

#formation-majordomat > .bloc {
  padding: 50px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#formation-majordomat > .bloc > div {
  color: #333;
  height: 250px;
  width: calc(30% - 30px);
  padding: 15px 10px;
  margin: 15px;
  border-radius: 5px;
  transition-duration: 333ms;
  line-height: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#formation-majordomat > .bloc > div > p {
  font-size: 15px;
}
#formation-majordomat > .bloc > div > h3 {
  text-align: center;
  color: #ca0032;
  font-weight: bold;
}

#formation-majordomat > .bloc > div:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#formation-majordomat > .bloc > div > div {
  margin: 25px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}

#formation-majordomat > .adaptee-pour-tous {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#formation-majordomat > .adaptee-pour-tous > .bloc-image {
  position: relative;
  width: 50%;
}
#formation-majordomat > .adaptee-pour-tous > .bloc-image img {
  transition-duration: 750ms;
}
#formation-majordomat > .adaptee-pour-tous > .bloc-image img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}

#formation-majordomat > .adaptee-pour-tous > .bloc-texte {
  background-color: #ca0032;
  width: 50%;
  padding: 75px;
  color: white;
}
#formation-majordomat > .adaptee-pour-tous > .bloc-texte > h3 {
  color: white;
  font-size: 40px;
}
#formation-majordomat > .adaptee-pour-tous > .bloc-texte > p {
  text-align: start;
  padding-left: 0;
}

#formation-majordomat > .bloc-modules {
  padding: 0 0px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#formation-majordomat > .bloc-modules > div {
  color: #333;
  position: relative;
  height: 275px;
  padding: 15px 10px;
  border-radius: 5px;
  transition-duration: 333ms;
  line-height: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#formation-majordomat > .bloc-modules > .second {
  transition-duration: 500ms;
  width: 33.33%;
}
#formation-majordomat > .bloc-modules > .third {
  transition-duration: 500ms;
  width: 50%;
}
#formation-majordomat > .bloc-modules > .second > div,
#formation-majordomat > .bloc-modules > .third > div {
  text-align: center;
  position: relative;
  z-index: 999;
  color: white;
}

#formation-majordomat > .bloc-modules > div p {
  font-size: 20px;
  max-width: 100%;
  line-height: 1.75rem;
  text-shadow: -2px 2px 3px #333;
  text-shadow: -2px 2px 3px #333;
}
#formation-majordomat > .bloc-modules > div h3 {
  text-align: center;
  font-weight: bold;
  text-shadow: -2px 2px 3px #333;
}

#formation-majordomat > .bloc-modules > .second:hover,
#formation-majordomat > .bloc-modules > .third:hover {
  transform: scale(0.95);
}

#formation-majordomat > .bloc-modules img {
  filter: blur(0.5px) brightness(75%);
}

#formation-majordomat > .bloc-timeline {
  background-color: #ca0032;
  padding: 75px 250px;
  width: 100%;
}
#formation-majordomat > .bloc-timeline .timeline-step {
  padding: 5px 10px;
  transition-duration: 500ms;
  border-radius: 5px;
  min-width: 170px;
  max-width: 300px;
}

#formation-majordomat > .bloc-timeline .timeline-step h3 {
  font-size: 16px;
  color: white;
}
#formation-majordomat .custom-marker {
  display: flex;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1;
  font-weight: bold;
}
#formation-majordomat .custom-marker i {
  font-size: 2.5rem;
}

/* ADVF  */
#formation-majordomat > .devennez-un-pro {
  padding: 75px 300px 25px;
}
#formation-majordomat > .devennez-un-pro h2 {
  text-align: center;
}
#formation-majordomat > .devennez-un-pro > p {
  max-width: 100%;
}
#formation-majordomat > .module-titre {
  padding: 50px 200px;
  text-align: right;
  width: 100%;
  font-size: 30px;
  color: #333;
}
#formation-majordomat > .module-titre > hr {
  margin: 25px 0;
  text-align: right;
  width: 100%;
}

/* on surcharge la taille des cartes car y'a beaucoup plus de texte */
#formation-majordomat > .modules-advf > div {
  height: 350px;
}

/* plus-qu-un-simple-assistant */
#formation-majordomat > .plus-qu-un-simple-assistant {
  display: flex;
  background-color: #ca0032;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images > .second {
  position: relative;
  width: 50%;
  min-height: 300px;
  z-index: 999;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images > .second > div {
  text-align: center;
  position: relative;
  z-index: 999;
  color: white;
  top: 30%;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images > .second > div > h4 {
  font-weight: bold;
  font-size: 25px;
  text-shadow: -2px 2px 3px #333;
}

#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images img {
  transition-duration: 750ms;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}

#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte {
  background-color: #ca0032;
  width: 50%;
  padding: 75px;
  color: white;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > h3 {
  color: white;
  font-size: 35px;
}
#formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > p {
  text-align: start;
  margin-left: 0;
  padding-left: 0;
}

#formation-majordomat > .bloc-timeline-advf {
  background-color: whitesmoke;
  padding: 75px 250px;
  width: 100%;
}
#formation-majordomat > .bloc-timeline-advf .timeline-step {
  padding: 5px 10px;
  transition-duration: 500ms;
  border-radius: 5px;
  min-width: 170px;
  max-width: 300px;
}

#formation-majordomat > .bloc-timeline-advf .timeline-step h3 {
  font-size: 16px;
  color: #ca0032;
}
#formation-majordomat .custom-marker i.icon-advf {
  color: #ca0032;
}

@media only screen and (max-device-width: 480px) {
  #formation-majordomat {
    padding: 100px 0 0 0;
  }
  #formation-majordomat h2 {
    text-align: center;
  }
  #formation-majordomat > .bloc-texte {
    padding: 50px 0 0;
  }
  #formation-majordomat > .bloc > div {
    width: 100%;
  }

  #formation-majordomat > .adaptee-pour-tous > .bloc-image {
    width: 100%;
    height: 250px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte {
    width: 100%;
    padding: 0 20px 20px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte > h3 {
    text-align: center;
    font-size: 35px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte > p {
    text-align: center;
  }

  #formation-majordomat > .bloc-modules {
    padding: 0;
    text-align: center;
  }
  #formation-majordomat > .bloc-modules > .second,
  #formation-majordomat > .bloc-modules > .third {
    width: 100%;
  }
  #formation-majordomat > .bloc-modules > .second p,
  #formation-majordomat > .bloc-modules > .third p {
    font-size: 18px;
  }

  #formation-majordomat > .bloc-timeline,
  #formation-majordomat > .bloc-timeline-advf {
    padding: 75px 0px;
  }
  #formation-majordomat > .bloc-timeline .timeline-step h3,
  #formation-majordomat > .bloc-timeline-advf .timeline-step h3 {
    font-size: 14px;
  }

  /* ADVF  */
  #formation-majordomat > .devennez-un-pro {
    padding: 75px 0px 25px;
  }
  #formation-majordomat > .module-titre {
    padding: 50px 10px 25px;
    text-align: center;
    font-size: 25px;
  }

  #formation-majordomat > .plus-qu-un-simple-assistant {
    background-color: white;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images {
    width: 100%;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images > .second {
    width: 100%;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte {
    background-color: #ca0032;
    width: 100%;
    padding: 20px;
    color: white;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > h3 {
    text-align: center;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > p {
    text-align: center;
  }
}

/* TABLETS */
@media only screen and (max-device-width: 959px) {
  #formation-majordomat {
    padding: 100px 0 0 0;
  }
  #formation-majordomat h2 {
    text-align: center;
  }
  #formation-majordomat > .bloc-texte {
    padding: 50px 0 0;
  }
  #formation-majordomat > .bloc > div {
    width: 100%;
  }

  #formation-majordomat > .adaptee-pour-tous > .bloc-image {
    width: 100%;
    height: 250px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte {
    width: 100%;
    padding: 0 20px 20px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte > h3 {
    text-align: center;
    font-size: 35px;
  }
  #formation-majordomat > .adaptee-pour-tous > .bloc-texte > p {
    text-align: center;
  }

  #formation-majordomat > .bloc-modules {
    padding: 0;
    text-align: center;
  }
  #formation-majordomat > .bloc-modules > .second,
  #formation-majordomat > .bloc-modules > .third {
    width: 100%;
  }
  #formation-majordomat > .bloc-modules > .second p,
  #formation-majordomat > .bloc-modules > .third p {
    font-size: 18px;
  }

  #formation-majordomat > .bloc-timeline,
  #formation-majordomat > .bloc-timeline-advf {
    padding: 75px 0px;
  }
  #formation-majordomat > .bloc-timeline .timeline-step h3,
  #formation-majordomat > .bloc-timeline-advf .timeline-step h3 {
    font-size: 14px;
  }

  /* ADVF  */
  #formation-majordomat > .devennez-un-pro {
    padding: 75px 0px 25px;
  }
  #formation-majordomat > .module-titre {
    padding: 50px 10px 25px;
    text-align: center;
    font-size: 25px;
  }

  #formation-majordomat > .plus-qu-un-simple-assistant {
    background-color: white;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images {
    width: 100%;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-4-images > .second {
    width: 100%;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte {
    background-color: #ca0032;
    width: 100%;
    padding: 20px;
    color: white;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > h3 {
    text-align: center;
  }
  #formation-majordomat > .plus-qu-un-simple-assistant > .bloc-texte > p {
    text-align: center;
  }
}
/* ################################################################################## */
#formations {
  padding: 100px 0 0 0;
}
#formations h2 {
  color: #333;
  margin: 15px 0;
}

#formations > div {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
#formations > div > .bloc-image {
  position: relative;
  width: 50%;
  /* min-width: 550px; */
  height: 60vh;
  cursor: pointer;
}
#formations > div > .bloc-image > div {
  top: 45%;
  text-align: center;
  position: relative;
  z-index: 999;
  font-size: 50px;
  color: white;

  text-shadow: -2px 2px 3px black;
}
#formations > div > .bloc-image > div h3 {
  font-size: 40px;
  word-break: break-word;
}
#formations > div > .bloc-image img {
  transition-duration: 750ms;
}
#formations > div > .bloc-image img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}

@media only screen and (max-device-width: 480px) {
  #formations {
    padding: 100px 0 0 0;
  }
  #formations > div > .bloc-image {
    width: 100%;
  }

  #formations > div > .bloc-image > div h3 {
    text-align: center;
    font-size: 35px;
  }
}

/* TABLETS */
@media only screen and (max-device-width: 959px) {
  #formations {
    padding: 100px 0 0 0;
  }
  #formations > div > .bloc-image {
    width: 100%;
  }

  #formations > div > .bloc-image > div h3 {
    text-align: center;
    font-size: 35px;
  }
}
