body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
  width: 100%;
}

#logo-majordomat {
  cursor: pointer;
  width: 70px;
  height: 70px;
}
.logo-rs {
  width: 40px;
  height: 40px;
}
.avatar-confiance {
  width: 150px;
  height: 150px;
}
/* cookies bouton */
#axeptio_main_button {
  display: none !important;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 50px;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h3 {
  font-size: 30px;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h4 {
  font-size: 25px;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h5 {
  font-size: 20px;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

h6 {
  font-size: 18px;
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

div {
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

legend {
  font-family: "Amatic SC", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

.livret-accueil-handicap > a {
  font-weight: bold;
  text-decoration: underline;
}

/* TABLETS */

@media only screen and (max-width: 959px) {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 17px;
  }
  .p-menubar-button {
    margin-left: 65% !important;
  }
}

.btn-telecharge {
  margin: 40%;
  background-color: aliceblue;
  color: brown !important;
  padding: 1%;
}

.btn-telecharge:hover {
  margin: 40%;
  background-color: aliceblue;
  color: brown !important;
  padding: 1%;
}

.image-handicap {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 250vh;
}

.formation-petite-enfance-table td {
  border: solid 1px silver;
}

.panel {
  padding: 0 250px;
}

.panel-link {
  color: #007bff;
  text-decoration: none;
}

.panel-link:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.txt {
  margin-left: 1.5rem;
}

.txt p {
  text-align: start;
  margin-bottom: 0.5rem;
  width: 100%;
}

.txt ul {
  list-style-type: disc;
  margin-bottom: 1rem;
}

.txt ol {
  list-style-type: decimal;
  margin-bottom: 1rem;
}

.txt ul li,
.txt ol li {
  margin-left: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .panel {
    padding: 0;
  }

  .panel-heading {
    padding: 10px;
  }
  .panel-title {
    margin-bottom: 0;
  }
  .panel-body {
    padding: 0;
  }
  .title {
    font-size: 1rem;
  }
  .txt {
    margin: 0 !important;
  }
  .txt p,
  .txt ul,
  .txt ol {
    margin: 0 !important;
  }
}
