#dates-sessions {
  padding: 100px 200px 0;
}

#dates-sessions .calendrier {
  padding: 0 300px;
}

#dates-sessions .bloc-dates {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 75px;
  justify-content: space-evenly;
}
#dates-sessions .bloc-dates > div {
  min-width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  width: calc(33% - 60px);
  color: #333;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  line-height: 1.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#dates-sessions .bloc-dates > .exam {
  box-shadow: rgba(202, 0, 50, 0.5) 0px 8px 24px;
}
#dates-sessions .bloc-dates > div h3 {
  text-align: center;
  color: #333;
  font-size: larger;
}

#dates-sessions .bloc-dates > div .preinscription {
  text-align: center;
}
#dates-sessions .bloc-dates > div .preinscription button {
  background-color: #ca0032;
  border-color: #ca0032;
  color: white;
  transition-duration: 0ms;
}
#dates-sessions .bloc-dates > div .preinscription button:hover {
  color: #ca0032;
  border-color: #ca0032;
  background-color: white;
}

#dates-sessions .autres-dates {
  margin-bottom: 100px;
}

/* TABLETS */
@media only screen and (max-width: 959px) {
  #dates-sessions {
    padding: 100px 0;
  }
  #dates-sessions .bloc-dates {
    justify-content: center;
    margin: 0;
  }
  #dates-sessions .bloc-dates > div {
    width: calc(50% - 30px);
  }
}
/* PHONES */
@media only screen and (max-width: 480px) {
  #dates-sessions {
    padding: 50px 0;
    width: 100%;
    text-align: center;
  }
  #dates-sessions .bloc-dates > div {
    width: 100%;
  }
}
/* ########################################## */
#prochaines-sessions {
  padding: 175px 0px 0px;
}
#prochaines-sessions > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 2.5% 0 0 0;
  height: auto;
}
#prochaines-sessions .bloc-image {
  position: relative;
  width: 50%;
}
#prochaines-sessions .bloc-image img {
  transition-duration: 750ms;
}
#prochaines-sessions .bloc-image img:hover {
  opacity: 0.75;
  transform: scale(1.05);
}
#prochaines-sessions .bloc-texte {
  background-color: #ca0032;
  width: 50%;
  padding: 75px;
  color: white;
}
#prochaines-sessions .bloc-texte > p {
  text-align: justify;
  padding-left: 0;
}

/* TABLETS */
@media only screen and (max-width: 959px) {
  #prochaines-sessions {
    padding: 100px 0 0;
    text-align: center;
  }
  #dates-sessions {
    padding: 75px 0 50px 0;
  }
  .card-prochaine {
    width: 100vw !important;
  }
  #prochaines-sessions .bloc-image {
    width: 100%;
    height: 450px;
  }
  #prochaines-sessions .bloc-texte {
    width: 100%;
    padding: 50px;
  }

  .card-prochaine {
    width: calc(50% - 60px) !important;
    margin: 25px 0 25px !important;
  }
}

/* PHONES */
@media only screen and (max-width: 480px) {
  #prochaines-sessions {
    padding: 100px 0px 0px;
    text-align: center;
  }
  #dates-sessions {
    padding: 50px 5px 0;
  }

  #dates-sessions .bloc-dates {
    justify-content: space-around;
  }
  .card-prochaine {
    width: calc(50% - 60px) !important;
    margin: 25px 0 25px !important;
  }
  #prochaines-sessions .bloc-image {
    width: 100%;
    height: 450px;
  }
  #prochaines-sessions .bloc-texte {
    width: 100%;
    padding: 50px;
  }
}

.card-prochaine {
  width: calc(50% - 60px);
}
